<!DOCTYPE HTML>
<html ng-app="myCalcu">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="assets/calculator.scss">
	<script type="text/javascript" src="assets/angular.min.js"></script>
	<script type="text/javascript" src="assets/calculator.js"></script>
	<title>Calculator</title>
</head>

<body>

	<div id="myCalc" ng-controller="CalculatorController">


		<main>
			<section class="butts">
				<div>
					<h4>Cigarettes Per Year</h4>
					<p> {{numOfCigs}} </p>
					<p><span class="fadeText">{{numOfTar}}</span>g of tar</p>
				</div>
			</section>

			<section class="cigCost">
				<div>
					<h4>Cig Cost</h4>
					<p>${{perCigCost}} each</p>
					<p>$<span class="fadeText">{{cost_year}}</span> Per year</p>
				</div>
			</section>
			<section class="temp">
				<div>
					<h4>Average Nicotine content</h4>
					<p>Per regular Cigarette</p>
					<p><span class="fadeText">28-42mg</p>
				</div>
			</section>
			<section class="vapeCost">
				<div>
					<h4>30ml Bottles of Liquid</h4>
					<p>Based on 5ml per day</p>
					<p><span class="fadeText">{{numBottles}}</span> 30ml Bottles Per year</p>
				</div>
			</section>
			<section class="vapeNic">
				<div>
					<h4>Total Cost of liquid per year</h4>
					<p>$<span class="fadeText">{{vapeCostYear}}</span></p>
					<p>difference of $<span class="fadeText">{{diff}}</span> Per Year</p>
				</div>

			</section>
			<section class="temp1">

				<div>
					<h4>Starting Nicotine Strength</h4>
					<p>Based on Cigs Per Day</p>
					<p><span class="fadeText">{{nicStr}}</span>mg</p>
				</div>
			</section>

		</main>


		<form>
			<div>
				<h1>Choose Your Payment Schedule</h1>
<div class="dgradio-sb ">
  <input type="radio" class="dg-item" name="your-group-2" id="radio6" />
  <label for="radio6" class="dg-label dg-10"  data-caption="awesome!">
    Monthly<span class="dg-bg"></span>
  </label>

  <input type="radio" class="dg-item" name="your-group-2" id="radio7" checked="checked"/>
  <label for="radio7" class="dg-label dg-30"  data-caption="great">
    Quarterly<span class="dg-bg"></span>
  </label>

  <input type="radio" class="dg-item" name="your-group-2" id="radio8" >
  <label for="radio8" class="dg-label dg-50"  data-caption="half is good">
    Half-Yearly<span class="dg-bg"></span>
  </label>

  <input type="radio" class="dg-item" name="your-group-2" id="radio9" />
  <label for="radio9" class="dg-label dg-100"  data-caption="too long!">
    Yearly<span class="dg-bg"></span>
  </label>

</div>
<!--
				<h4>Cigs per day</h4>
				<p> -- </p>
				<p>Be Honest!</p>
				<input ng-change="calculate()" ng-model="current_cPerDay" value="{{current_cPerDay}}" maxlength="3">


				</select>
			</div>
			<div>
				<h4> Select Province </h4>
				<p> ${{current_cost}} per 25 pack </p>
				<p> {{prov_name}} </p>
				<select ng-change="calculate()" ng-model="nameTest" ng-options="o as o for o in provinceList">

				</select>
			</div>
			<section> 

				<p>Designed by : Lucas Hahn</p>
				<p>All statistcs and data is from 2016-2017 studies</P>
				<p> E-Juice pricing based off of Infinite Vaper</p>
				<p> In Kingston, ontario </p>
		</form>
-->
		<footer style="color: rgba(255,255,255,0.3)" > &copy;Hahn Consulting & training Inc. </footer>


	</div>

</body>

</html>